{% extends "base.html" %}

{% block title %}Collections{% endblock %}

{% block content %}
<h1 class="mb-12 text-3xl font-bold text-gray-600 text-center mt-4">Collections</h1>
<div class="flex flex-col justify-center items-center">
    <div class="grid {{ 'grid-cols-1' if pulls|length == 1 else 'grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5' }} gap-4 mb-12">
        {% for cat in cats %}
            <div class="bg-white shadow-md rounded-lg overflow-hidden flex items-center justify-center pointer-events-none">
                {% if cat in obtained_cats %}
                    <img src="{{ url_for('static', filename=cat) }}" alt="Cat Image" class="h-64 object-cover">
                {% else %}
                    <img src="{{ url_for('static', filename='unobtained_cat.png') }}" alt="Locked" class="h-64 object-cover">
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}