{% extends "base.html" %}
{% block title %}Nyan-chan Gacha{% endblock %}
{% block content %}
    <h1 class="text-3xl font-bold mb-4">Cat Memes Gacha</h1>
    <p class="mb-2">Welcome to Cat Memes Gacha!</p>
    <p class="mb-2">1 Pull costs 1 coin, while 5 Pulls cost 5 coins.</p>
    <p class="mb-4">Good luck!</p>
    <form action="/gacha_1" class="mb-4">
        <button id="get-cat-btn" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">1 Pull</button>
    </form>
    <form action="/gacha_5" class="mb-4">
        <button id="get-cat-btn-5" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">5 Pulls</button>
    </form>
    <div id="cat-image"></div>
{% endblock %}